
<script type="text/javascript">
  $( function() {
  <% IF deferred.type == 'success' %>
  	success_alert("<% deferred.message %>");
  <% END %>

  <% IF deferred.type == 'error' %>
    error_alert("<% deferred.message %>");
  <% END %>

  <% IF deferred.type == 'warning' %>
    warning_alert("<% deferred.message %>");
  <% END %>

   });
</script>
